body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 8px;
    background-color: rgb(240, 240, 195);
}

.btn1 {
    border: 1px solid rgb(196, 28, 28);
    background-color: rgb(196, 28, 28);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 18px;
}

.logo img:nth-of-type(1) {
    width: 140px;
    height: 110px;
    margin-left: 18vw;
}

.logo img:nth-of-type(2) {
    width: 250px;
    height: 60px;
}

#article-login img{
    width: 40px;
    height: 40px;
    margin-left: 350px;
}

.cadastro {

    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.cadastro1 {
    margin-top: 70px;
    width: 40%;
    border-radius: 5px;
    background-color: rgb(240, 240, 195);
    box-shadow: 0 0px 15px rgba(207, 62, 62, 0.5);
}

.cadastro1 form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 20px;
}

.cadastro1 form input{
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #eae9e9;
}

h3 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255 99 71);
    margin-bottom: 35px;
}

.bnt-cadastro{
    padding: 20px;
    color: white;
    background-color: rgb(196, 28, 28);
    border: solid rgb(240, 240, 195) 1px;
}



