<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/telasBolo.css">
    <title>Bolo de Morango com Calda Simples</title>
</head>
<body>
    <a href="home.html">Voltar</a>
    <main>
        <section class="title">
            <img src="../assets/img/bolo2.png" alt="">
            <h1>Bolo de Morango com Calda Simples</h1>
        </section>
        <br>
        <br>
        <hr>
        <h2>Ingredientes</h2>
        <ul type="square">
            <li>1 xícara (chá) de água</li>
            <li>1 xícara (chá) de Nesquick</li>
            <li>4 colheres (sopa) de manteiga</li>
            <li>3 ovos</li>
            <li>1 e 1/2 xícaras (chá) de açúcar</li>
            <li>3 xícaras (chá) de farinha de trigo</li>
            <li>1 colher (sopa) de fermento em pó químico</li>
            <li>Manteiga e farinha de trigo para untar</li>
            <li>10 morangos cortados ao meio para decorar</li>
        </ul>
        <p>Cobertura</p>
        <ul type="square">
            <li>1 caixa de morangos picados (300g)</li>
            <li>1 xícara (chá) de açúcar</li>
            <li>Suco de 1 limão</li>
            </ul>
            <hr>
        <h2>Modo de preparo</h2>
        <p>Massa do bolo</p>
        <ul type="square">
            <li>No liquidificador, bata a água, o Nesquick, a manteiga, os ovos e o açúcar até ficar homogêneo.</li>
            <li>Transfira para uma tigela, adicione a farinha e o fermento e misture com uma colher.</li>
            <li>Despeje em uma fôrma de buraco no meio de 30 cm de diâmetro untada e enfarinhada.</li>
            <li>Leve ao forno médio, preaquecido, por 35 minutos ou até dourar.</li>
            <li>Retire e deixe esfriar.</li>
        </ul>
        <p>Cobertura</p>
        <ul type="square">
            <li>Em uma panela misture o morango, o açúcar e o suco de limão.</li>
            <li>Leve ao fogo baixo e deixe levantar fervura.</li>
            <li>Cozinhe por 5 minutos e deixe esfriar.</li>
            </ul>
        <p>Montagem do bolo</p>
        <ul type="square">
            <li>Desenforme o bolo, cubra com metade da cobertura.</li>
            <li>Arrume os morangos cortados ao meio sobre o bolo.</li>
            <li>Cubra com a cobertura restante.</li>
            <li>Sirva em seguida.</li>
        </ul>
    </main>
</body>
</html>