<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/telasBolo.css">
    <title>Bolo de Chocolate com Morango</title>
</head>
<body>
    <a href="home.html">Voltar</a>
    <main>
        <section class="title">
            <img src="../assets/img/bolo4.png" alt="">
            <h1>Bolo de <span id="Chocolate-Bolo4">Chocolate</span> com Morango</h1>
        </section>
        <br>
        <br>
        <hr>
        <h2>Ingredientes</h2>
        <p>Massa</p>
        <ul type="square">
            <li>5 ovos</li>
            <li>meia xícara (chá) de açúcar</li>
            <li>1 xícara (chá) de farinha de trigo</li>
            <li>3 colheres (sopa) de Chocolate em Pó </li>
            <li>meia colher (sopa) de fermento em pó</li>
        </ul>
        <p>Recheio e Cobertura</p>
        <ul type="square">
            <li>1 caixinha de morangos (300 g)</li>
            <li>1 Leite moça (lata ou caixinha) 395g</li>
            <li>meia xícara (chá) de amido de milho</li>
            <li>300 g de Chocolate Meio Amargo</li>
            <li>1 lata de Creme de Leite</li>
        </ul>
        <hr>
        <h2>Modo de preparo</h2>
        <p>Massa</p>
        <ul type="square">
            <li>Em uma batedeira, bata os ovos até dobrar de volume, acrescente o açúcar e bata bem.</li>
            <li>Desligue a batedeira, misture aos poucos e delicadamente a farinha de trigo, o Chocolate em pó e o fermento em pó peneirados.</li>
        </ul>
        <p>Recheio e Cobertura</p>
        <ul type="square">
            <li>Separe alguns morangos para a decoração, corte em fatias o restante e reserve.</li>
            <li>Em uma panela, coloque o Leite moça, o Leite ninho, e o amido de milho e leve ao fogo médio mexendo sempre até engrossar.</li>
            <li>Retire do fogo, acrescente metade do Chocolate e misture delicadamente até o Chocolate derreter e incorporar ao creme.</li>
            <li>Acrescente o Creme de Leite e misture até ficar homogêneo.</li>
        </ul>
        <p>Montagem</p>
        <ul type="square">
            <li>Com uma faca serrilhada, corte a massa do bolo em duas partes.</li>
            <li>Recheie com metade do creme e com os morangos fatiados.</li>
            <li>Cubra com o restante do creme.</li>
            <li>Decore com o restante do Chocolate ralado em ralo grosso e com os morangos inteiros reservados.</li>
        </ul>
    </main>
</body>
</html>