<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/telasBolo.css">
    <title>Bolo 4 Leites com Morango</title>
</head>
<body>
    <a href="home.html">Voltar</a>
    <main>
        <section class="title">
        <img src="../assets/img/bolo5.png" alt="">
        <h1>Bolo 4 Leites com Morango</h1>
        </section>
        <br>
        <br>
        <hr>
        <h2>Ingredientes</h2>
        <p>Massa</p>
        <ul type="square">
            <li>3 ovos médios (180 gramas)</li>
            <li>1 xícara de chá de açúcar refinado (200 gramas)</li>
            <li>1 e 1/2 xícara de farinha de trigo (210 gramas)</li>
            <li>1/4 de xícara de chá de óleo (60 ml)</li>
            <li>100 ml de água (em temperatura ambiente)</li>
            <li>1 colher de chá de fermento químico em pó (fermento para bolo)</li>
            <li>Manteiga para untar</li>
        </ul>
        <p>Recheio (Creme 4 Leites e Morangos)</p>
        <ul type="square">
            <li>1 caixa de leite condensado (395 gramas)</li>
            <li>1 caixa de creme de leite (200 gramas)</li>
            <li>1 garrafinha de leite de coco (200 ml)</li>
            <li>1 xícara de chá de leite em pó integral (100 gramas)</li>
            <li>2 bandejas de morangos (250 gramas cada)</li>
            <li>4 colheres de sopa de açúcar refinado</li>
        </ul>
        <p>Calda e Finalização</p>
        <ul type="square">
            <li>2 colheres de sopa de leite condensado</li>
            <li>2 colheres de sopa de leite de coco</li>
            <li>1 xícara de chá leite integral (240 ml)</li>
            <li>1 xícara de chá de chantilly (250 ml)</li>
            <li>1/4 de xícara de chá de leite em pó</li>
        </ul>
        <hr>
        <h2>Modo de preparo</h2>
        <p>Recheio (Creme 4 Leites)</p>
        <ul type="square">
            <li>Em uma panela fora do fogo, misture o leite condensado e o leite em pó até incorporar, para não criar grumos.</li>
            <li>Adicione o leite de coco e o creme de leite e mexa bem.</li>
            <li>Leve ao fogo médio para baixo e cozinhe até começar a ferver. Continue mexendo por mais 20 minutos.</li>
            <li>Transfira o creme para um refratário, cubra com plástico-filme em contato e leve à geladeira até gelar completamente.</li>
            <li>Para os morangos: Pique os morangos (reserve alguns inteiros para decoração) e misture-os com as 4 colheres de açúcar. Transfira para uma peneira, deixando escorrer o líquido por 1 hora na geladeira. Seque com papel-toalha.</li>
        </ul>
        <p>Massa</p>
        <ul type="square">
            <li>Unte uma forma redonda e preaqueça o forno a 180°C.</li>
            <li>Na batedeira, bata as claras em neve em picos firmes.</li>
            <li>Adicione as gemas e o açúcar, batendo até obter um creme liso.</li>
            <li>Acrescente o óleo, a farinha de trigo e, com uma espátula, misture bem. Junte a água e misture novamente.</li>
            <li>Por fim, acrescente o fermento e misture delicadamente.</li>
            <li>Transfira para a forma e leve ao forno por cerca de 35 a 45 minutos (faça o teste do palito). Deixe esfriar e desenforme.</li>
        </ul>
        <p>Montagem e Finalização</p>
        <ul type="square">
            <li>Corte o bolo em 3 discos. Para a calda, misture as 2 colheres de leite condensado, 2 colheres de leite de coco e o leite integral.</li>
            <li>Forre a forma com plástico-filme. Coloque um disco, umedeça com a calda.</li>
            <li>Retire o creme 4 leites da geladeira e reserve 2 colheres de sopa dele. Misture cuidadosamente o restante do creme com os morangos escorridos.</li>
            <li>Coloque o recheio sobre o disco. Repita com o segundo disco e recheio.</li>
            <li>Finalize com o último disco, regue com a calda, cubra com o plástico e leve à geladeira por 4 a 8 horas.</li>
            <li>Desenforme o bolo. Para a cobertura, bata o chantilly com o leite em pó e misture as 2 colheres do recheio reservadas.</li>
            <li>Distribua a mistura no topo e laterais do bolo e decore com os morangos inteiros. Sirva.</li>
        </ul>
    </main>
</body>
</html>