<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="../assets/img/favicon.png">
<link rel="stylesheet" href="../assets/css/telasBolo.css">
<title>Bolo Red Velvet</title>
</head>
<body>
    <a href="home.html">Voltar</a>
    <main>
        <section class="title">
            <img src="../assets/img/bolo11.png" alt="">
            <h1>Bolo Red Velvet</h1>
        </section>
        <br>
        <br>
        <hr>
        <h2>Ingredientes</h2>
        <p>Para a Massa</p>
        <ul type="square">
            <li>3 ovos</li>
            <li>1/2 colher(es) de sopa fermento em pó químico</li>
            <li>10 gota(s) corante gel vermelho</li>
            <li>1 colher(es) de sopa cacau em pó</li>
            <li>2/3 xícara(s) de chá água morna</li>
            <li>1 e 1/2 xícara(s) de chá açúcar refinado</li>
            <li>2 xícara(s) de chá farinha de trigo</li>
        </ul>
        <p>Para o Creme (Cobertura e Recheio)</p>
        <ul type="square">
            <li>10 gota(s) essência de baunilha</li>
            <li>5 colher(es) de sopa chantilly batido</li>
            <li>6 colher(es) de sopa leite em pó</li>
            <li>1 e 1/2 xícara(s) de chá açúcar de confeiteiro</li>
            <li>1 xícara(s) de chá manteiga</li>
            <li>1 pote(s) cream cheese</li>
        </ul>
        <p>Para a Calda de Morango</p>
        <ul type="square">
            <li>1 limão (suco)</li>
            <li>1 xícara(s) de chá açúcar refinado</li>
            <li>3 xícara(s) de chá morangos frescos picados</li>
        </ul>
        <p>Para a Decoração</p>
        <ul type="square">
            <li>2 colher(es) de sopa açúcar</li>
            <li>1 xícara(s) de chá leite</li>
            <li>1 xícara(s) de chá morango</li>
            <li>2 xícara(s) de chá chantilly batido (para cobrir)</li>
        </ul>
        <hr>
        <h2>Modo de Preparo</h2>
        <p>Modo de Preparo da Massa</p>
        <ul type="square">
            <li>Na tigela da batedeira, adicione os ovos e o açúcar e bata até dobrar de volume.</li>
            <li>Em seguida, adicione aos poucos a farinha de trigo e a água com o cacau em pó, alternando sempre.</li>
            <li>Adicione o corante e o fermento em pó.</li>
            <li>Asse em forno 180°C até sair com o palito limpo.</li>
        </ul>
        <p>Modo de Preparo do Creme</p>
        <ul type="square">
            <li>Na batedeira, bata o cream cheese, a manteiga e o açúcar até ficar um creme fofo e esbranquiçado.</li>
            <li>Adicione o leite em pó e bata mais um pouco.</li>
            <li>Retire, acrescente o chantilly e a baunilha, misturando delicadamente.</li>
        </ul>
        <p>Modo de Preparo da Calda de Morango (Geleia)</p>
        <ul type="square">
            <li>Para a geleia, leve todos os ingredientes (morango, açúcar e suco de limão) ao fogo.</li>
            <li>Deixe cozinhar até atingir a consistência de geleia.</li>
            <li>Após cozido, deixe esfriar para a montagem.</li>
        </ul>
        <p>Montagem</p>
        <ul type="square">
            <li>Corte o bolo em 3 camadas e, na própria forma que assou, coloque a primeira camada.</li>
            <li>Regue com a calda (misture o açúcar e o leite indicados na decoração para fazer a calda de regar se necessário, ou use a calda de morango).</li>
            <li>Adicione o recheio de creme e a geleia de morango. Repita o processo até finalizar as camadas.</li>
            <li>Leve para a geladeira por 8 horas para firmar.</li>
            <li>Para finalizar, espalhe o restante do recheio. Decore com morangos a gosto. </li>
        </ul>
    </main>
</body>
</html>