<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/home.css">
    <script src="../assets/js/funcao.js"></script>
    <title>The gastronomy</title>
</head>
<body>
    <header>
        <section class="secao_1">
            <h1>THE GASTRONOMY</h1>
            <article id="article-login">
                <a href="#">
                    <img src="../assets/img/userIcon.png">
                    <p>Login</p>
                </a>
            </article>
        </section>
        <nav>
            <ul>
                <li><a href="../view/home.html">HOME</a></li>
                <li><a href="#">ENVIE SUA RECEITA</a></li>
                <li><a href="#alta-link">EM ALTA</a></li>
                <li><a href="#comunidade-link">COMUNIDADE</a></li>
                <li><a href="#">FLEXÍVEIS</a></li>
                <li><a href="#novidades">NOVIDADES</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="secao_title_receitas">
            <h2>Receitas saudáveis e deliciosas</h2>
            <p>Receitas práticas e deliciosas para toda a família, com ingredientes naturais e acessíveis</p>
        </section>
        <section class="categorias">
            <a href="#">
                <img src="../assets/img/cerais.png" alt="">
                <p>Cereais, Raízes e Grãos</p>
            </a>
            <a href="#">
                <img src="../assets/img/legumes.png" alt="">
                <p>Legumes e Verduras</p>
            </a>
            <a href="#">
                <img src="../assets/img/leguminosas.png" alt="">
                <p>Leguminosas</p>
            </a>
            <a href="#">
                <img src="../assets/img/doces.png" alt="">
                <p>Frutas e Doces</p>
            </a>
        </section>
        <div class="divisoria">
            <p id="alta-link">EM ALTA</p>
        </div>
        <section class="em-alta-container">
            <article class="em-alta-card">
                <a href="#">
                    <img src="../assets/img/alta1.png" alt="">
                    <p>BERINGELA AGRIDOCE</p>
                    <p>Mais uma ideia deliciosa e muito prática para inovar o preparo da berinjela! Ela vai ficar bem macia, levemente agridoce, com toque de alho e...</p>
                </a>
            </article>
            <article class="em-alta-card">
                <a href="#">
                    <img src="../assets/img/alta2.png" alt="">
                    <p>QUIBE DE LENTINHA COM COALHADA</p>
                    <p>Quibe de lentilha é a opção perfeita pra quem ama refeições completas de uma travessa só! Além da textura deliciosa, o sabor fica...</p>
                </a>
            </article>
            <article class="em-alta-card">
                <a href="#">
                    <img src="../assets/img/alta3.png" alt="">
                    <p>BISCOITO DE GERGELIM</p>
                    <p>Nada melhor que matar a vontade de um docinho com uma receita fácil, saudável e cheia de texturas! A crocância do gergelim e da Granola...</p>
                </a>
            </article>
            <article class="em-alta-card">
                <a href="#">
                    <img src="../assets/img/alta4.png" alt="">
                    <p>SALADA DE ABOBRINHA</p>
                    <p>Que tal aproveitar as abobrinhas que estão esquecidas aí na sua geladeira nessa receita deliciosa de salada de abobrinha grelhada?...</p>
                </a>
            </article>
            <article class="em-alta-card">
                <a href="#">
                    <img src="../assets/img/alta5.png" alt="">
                    <p>TORTA DE CHUCHU EXPRESS</p>
                    <p>Tá com chuchu aí? Aproveita essa torta vapt-vupt perfeita pra um jantar mais leve com uma saladinha! O que não pode faltar no chuchu pra...</p>
                </a>
            </article>
            <article class="em-alta-card">
                <a href="#">
                    <img src="../assets/img/alta6.png" alt="">
                    <p>LENTINHAS SEQUINHAS</p>
                    <p>Um jeito delicioso de consumir lentilha e, ainda, muuuito prático e rápido de preparar lentilha!! Ela fica sequinha, o que é perfeito...</p>
                </a>
            </article>
        </section>
        <div class="divisoria">
            <p id="comunidade-link">COMUNIDADE</p>
        </div>
        <section class="comunidade-container">
            <p>Veja o que nossa comunidade está dizendo sobre as receitas!</p>
            <article class="comunidade-card">
                <section class="cabecalho-card">
                    <img src="../assets/img/user1.png" alt="">
                    <p>Luca Cruz</p>
                    <p>Há 2 horas</p>
                </section>
                <section class="comentario">
                    <p>Adorei as receitas! Fiz o quibe de lentilha e ficou maravilhoso. Minha família toda aprovou!</p>
                </section>
                <section class="like-comentario">
                    <img src="../assets/img/like-vazio.png" alt="" onclick="MudarImg(this, '../assets/img/like-cheio.png')">
                </section>
            </article>
            <article class="comunidade-card">
                <section class="cabecalho-card">
                    <img src="../assets/img/user2.png" alt="">
                    <p>Ivan Reis</p>
                    <p>Há 5 horas</p>
                </section>
                <section class="comentario">
                    <p>Excelente plataforma! As receitas são muito práticas e saudáveis. Já salvei várias para fazer essa semana.</p>
                </section>
                <section class="like-comentario">
                    <img src="../assets/img/like-vazio.png" alt="" onclick="MudarImg(this, '../assets/img/like-cheio.png')">
                </section>
            </article>
            <article class="comunidade-card">
                <section class="cabecalho-card">
                    <img src="../assets/img/user3.png" alt="">
                    <p>Lua Lima</p>
                    <p>Há 2 dias</p>
                </section>
                <section class="comentario">
                    <p>A salada de abobrinha grelhada é incrível! Super fácil de fazer e fica deliciosa.   Recomendo!</p>
                </section>
                <section class="like-comentario">
                    <img src="../assets/img/like-vazio.png" alt="" onclick="MudarImg(this, '../assets/img/like-cheio.png')">
                </section>
            </article>
        
            <article class="comunidade-card">
                <section class="cabecalho-card">
                    <img src="../assets/img/user4.png" alt="">
                    <p>Sara Reis</p>
                    <p>Há 1 dia</p>
                </section>
                <section class="comentario">
                    <p>Os biscoitos de gergelim são viciantes! Fiz ontem e já acabaram. Vou fazer de novo hoje!</p>
                </section>
                <section class="like-comentario">
                    <img src="../assets/img/like-vazio.png" alt="" onclick="MudarImg(this, '../assets/img/like-cheio.png')">
                </section>
            </article>
            <article class="comunidade-card">
                <section class="cabecalho-card">
                    <img src="../assets/img/user5.png" alt="">
                    <p>Téo Faro</p>
                    <p>Há 1 dia</p>
                </section>
                <section class="comentario">
                    <p>Parabéns pelo conteúdo! Estou tentando ter uma alimentação mais saudável e essas receitas estão me ajudando muito.</p>
                </section>
                <section class="like-comentario">
                    <img src="../assets/img/like-vazio.png" alt="" onclick="MudarImg(this, '../assets/img/like-cheio.png')">
                </section>
            </article>
            <article class="comunidade-card">
                <section class="cabecalho-card">
                    <img src="../assets/img/user6.png" alt="">
                    <p>Hugo Melo</p>
                    <p>Há 1 dia</p>
                </section>
                <section class="comentario">
                    <p>Parabéns pelo conteúdo! Estou tentando ter uma alimentação mais saudável e essas receitas estão me ajudando muito.</p>
                </section>
                <section class="like-comentario">
                    <img src="../assets/img/like-vazio.png" alt="" onclick="MudarImg(this, '../assets/img/like-cheio.png')">
                </section>
            </article>
            <article class="comunidade-card">
                <section class="cabecalho-card">
                    <img src="../assets/img/user7.png" alt="">
                    <p>Jade Vidal</p>
                    <p>Há 1 dia</p>
                </section>
                <section class="comentario">
                    <p>Parabéns pelo conteúdo! Estou tentando ter uma alimentação mais saudável e essas receitas estão me ajudando muito.</p>
                </section>
                <section class="like-comentario">
                    <img src="../assets/img/like-vazio.png" alt="" onclick="MudarImg(this, '../assets/img/like-cheio.png')">
                </section>
            </article>
            <article class="comunidade-card">
                <section class="cabecalho-card">
                    <img src="../assets/img/user8.png" alt="">
                    <p>Ben Alves</p>
                    <p>Há 1 dia</p>
                </section>
                <section class="comentario">
                    <p>Parabéns pelo conteúdo! Estou tentando ter uma alimentação mais saudável e essas receitas estão me ajudando muito.</p>
                </section>
                <section class="like-comentario">
                    <img src="../assets/img/like-vazio.png" alt="" onclick="MudarImg(this, '../assets/img/like-cheio.png')">
                </section>
            </article>
        </section>
    </main>
    <footer>
        <section class="cadastro-email">
            <p id="novidades">Fique por dentro de todos os posts e receitas</p>
            <input type="text" placeholder="Email" name="receber-email">
            <button>Cadastrar</button>
        </section>
        <article>
            <p>&copy; 2025 The gastronomy. Todos os direitos reservados.</p>
        </article>
    </footer>
</body>
</html>