<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/MeuUsuario.css">
    <title>MEU USUÁRIO</title>
</head>
<body>
    <header>
        <nav>
            <section class="logo">
                <img src="../assets/img/logo.png" alt="">
                <img src="../assets/img/fonteLogo.png" alt="">
            </section>
            <ul class="menu-vertical">
                <li><a href="MeuUsuario.html">Meu Usuário</a></li>
                <li><a href="#">Novo Usuário</a></li>
                <li><a href="../processamento/listarReceita.php">Ver Receitas</a></li>
                <li><a href="#">Detalhes</a></li>
                <li><a href="home.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Aqui ficará o return do banco p/ mostrar os dados do usuário logado -->
         <!-- APAGAR ESSE EXEMPLO (INCLUINDO O CSS) -->
        <div class="exemplo">
            <img src="../assets/img/userExemplo.png" alt="">
            <p><strong>EXEMPLO DE COMO FICARIA:</strong></p>
            <div class="p">
            <p>Usuário: guilherme</p>
            <p>Email: guilherme10@fatec.sp.gov.br</p>
            <p>Senha: *************</p>
            </div>
        </div>
    </main>
</body>
</html>