<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/MeuUsuario.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.png">
    <title>MEU USUÁRIO</title>
</head>
<body>
    <header>
        <nav>
            <section class="logo">
                <img src="../assets/img/logo.png" alt="">
                <img src="../assets/img/fonteLogo.png" alt="">
            </section>
            <ul class="menu-vertical">
                <li><a href="MeuUsuario.html">Meu Usuário</a></li>
                <li><a href="../processamento/cadastroUsuario.php">Novo Usuário</a></li>
                <li><a href="../processamento/listarReceita.php">Ver Receitas</a></li>
                <li><a href="../processamento/cadastrarIngredientes.php">Novos Ingredientes</a></li>
                <li><a href="../processamento/listarIngredientes.php">Ver Ingredientes</a></li>
                <li><a href="#">Enviar Comentário</a></li>
                <li><a href="#">Ver Comentários</a></li>
                <li><a href="home.html">Home</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>